body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: space-between;
    padding-top: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.75rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.75rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: hsl(49, 100%, 50%);
    color: white;
}

#paper {
    background-color: hsl(136, 31%, 17%);
    color: white;
}

#scissors {
    background-color: hsl(207, 81%, 69%);
    color: white;
}

#your-score {
    color: #2196f3;
}

#computer-score {
    color: #ff0000;
}